@import "normalize"
@import "reset.scss"

*
  box-sizing: border-box

$color-blue: #5290EA
$color-orange: #F28B64
$color-grey: #E2E2E2
$shadow: 0 4px 4px rgba(0, 0, 0, 0.25)


.container
  max-width: 1140px
  margin: 0 auto

.main-section
  height: 800px
  background: #F0F0F0
  padding-top: 16px
  margin-bottom: 32px
  &__nav-container
    display: flex
    flex-direction: row
    justify-content: space-between
    height: 69px
    align-items: center
    margin-bottom: 6px
  &__logo
    width: 134px
  &__content-container
    display: flex

.nav-menu
    &__list
      display: flex
      flex-direction: row
    &__item
      margin-right: 64px
      font-size: 18px
      &:last-child
        margin-right: 0


.button-link
  cursor: pointer

.button-book
  cursor: pointer
  width: 200px
  height: 60px
  border-radius: 100px
  background-color: $color-orange
  border: 0
  padding: 11px 24px
  color: white
  font-size: 18px

.question-button
  display: flex
  gap: 12px
  align-items: center
  cursor: pointer
  &__text
    width: 82px
    height: 34px

.left-wrapper
  position: relative
  img
    position: relative
    z-index: 4
  &__rectangle-blue
    position: absolute
    top: 150px
    left: -50px
    width: 565.95px
    height: 220px
    background: $color-blue
    z-index: 1
    border-radius: 100px
    box-shadow: $shadow
    rotate: -64deg
  &__rectangle-orange
    position: absolute
    top: 160px
    left: -30px
    width: 618.43px
    height: 220px
    background: $color-orange
    z-index: 3
    border-radius: 100px
    box-shadow: $shadow
    rotate: -50.81deg
  &__rectangle-grey
    position: absolute
    top: 199px
    left: 10px
    width: 608.97px
    height: 220px
    background: $color-grey
    z-index: 2
    border-radius: 100px
    box-shadow: $shadow
    rotate: -36.15deg

.right-wrapper
  display: flex
  flex-wrap: wrap
  align-content: flex-start
  position: relative
  z-index: 5
  top: 150px
  right: 180px
  width: 372px
  height: 235px
  &__icon-box
    display: flex
    gap: 17px
    height: 40px
    padding: 0 0 0 10px
  &__link
    width: 40px
    height: 40px
  &__title
    font-size: 72px
    line-height: 93.9%
    width: 353px
  &__line
    border: 1px solid black
    width: 65px
    margin: 0 0 5px 0
  &__description
    font-size: 16px
    margin-bottom: 20px
  &__button-question
    position: relative
    left: 32px

.box-item
  width: 360px
  height: 360px
  display: flex
  position: relative
  &__image
    position: relative
    width: 197px
    height: 335px
    top: 25px
    right: 163px
    left: 0
    bottom: 0
  &__title
    display: flex
    align-self: center
    rotate: 90deg
    flex-wrap: wrap
    font-size: 36px
    padding: 50px 0 25px 0
    text-align: center

.second-section
  height: 700px
  background: #FFFFFF
  &__title
    font-size: 72px
  &__line
    border: 1px solid black
    width: 94px
    margin: 10px 0 40px 0
  &__items
    display: flex
    gap: 30px
    margin-bottom: 25px
  &__item_color-grey
    background-color: $color-grey
  &__item_color-orange
    background-color: $color-orange
  &__item_color-blue
    background-color: $color-blue
  &__achievements
    width: 1035px
    height: 99px
    border: 1px solid black
    margin: 0 auto









